@use "sass:math";

// Подключение миксинов =====================================================================================================================================================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов =====================================================================================================================================================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=PT+Sans:wght@400;700&display=swap");
// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов =====================================================================================================================================================================================================================================================================================================================================================================================================
// Подключить если есть файлы иконочных шрифтов
//@import "fonts/icons";

// Шрифты по умолчанию =====================================================================================================================================================================================================================================================================================================================================================================================================
$fontFamily: "PT Sans";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию

//=====================================================================================================================================================================================================================================================================================================================================================================================================

// НАСТРОЙКИ =====================================================================================================================================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1240;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива:
// 1 = отзывчивость ( у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по БП)
$responsiveType: 1;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

$mw: 950;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// Обнуление и общие параметры =====================================================================================================================================================================================================================================================================================================================================================================================================
@import "base/nullstyle";

body {
   background-color: #fff;
}
// Оболочка =====================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

// Ограничивающий контейнер =====================================================================================================================================================================================================================================================================================================================================================================================================
/*
Стили будут применяться ко всем классам с *__container
Сниппет: cnt
*/
@if (responsiveType==1) {
   // Отзывчивая
   [class*="__container"] {
      @if ($maxWidthContainer>0) {
         max-width: rem($maxWidthContainer);
         box-sizing: border-box;
         margin: 0 auto;
      }
      @if ($containerPadding>0) {
         padding: 0 rem(math.div($containerPadding, 2));
      }
   }
} @else {
   // По брейк-поинтам
   [class*="__container"] {
      margin: 0 auto;
      @if ($maxWidthContainer>0) {
         max-width: rem($maxWidthContainer);
         box-sizing: content-box;
      } @else {
         @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
         }
      }
      @media (max-width: $pc) {
         max-width: rem(970);
      }
      @media (max-width: $tablet) {
         max-width: rem(750);
      }
      @media (max-width: $mobile) {
         max-width: none;
         @if ($containerPadding>0 and $maxWidthContainer>0) {
            padding: 0 rem(math.div($containerPadding, 2));
         }
      }
   }
}
// База =====================================================================================================================================================================================================================================================================================================================================================================================================
.text {
   line-height: 1.5;
   color: #6b6b6c;
}

.title {
   // .title_small

   &_small {
      font-family: "Exo 2";
      font-size: rem(20);
      font-weight: 600;
      line-height: 1.35;
      color: #363738;
   }
}

// Основная верстка =====================================================================================================================================================================================================================================================================================================================================================================================================

.content {
   z-index: 2;
   position: relative;
}

.vendor {
   margin: 110px 0px 65px 0px;

   // .PDV__content
   &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   // .PDV__text
   &__text {
   }
   // .PDV__title
   &__title {
      font-family: "Exo 2";
      font-size: rem(52);
      font-weight: 600;
      line-height: rem(65);
      letter-spacing: 0em;
      margin: 81px 15px 28px 0px;
   }
   // .PDV__subtitle
   &__subtitle {
      margin: 0px 0px 34px 0px;
   }
   // .PDV__more
   &__more {
      font-weight: 700;
      font-size: rem(16);
      line-height: 150%;
      color: #363738;
      padding: 0px 0px em(4) 0px;
      border-bottom: 3px solid #ffce50;
   }
   // .PDV__image
   &__image {
      width: 635px;
      height: 505px;
   }
}

//=====================================================================================================================================================================================================================================================================================================================================================================================================

.services {
   // .services__container
   margin: 0 0 100px 0;
   &__container {
      background: #ffffff;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
   }

   // .services__row
   &__row {
      padding: 20px 17px;
      display: flex;
      flex-direction: row;
   }

   // .services__column
   &__column {
      flex: 1 1 33.3333%;
      display: flex;
      flex-direction: column;
      margin: 20px 0 26px 64px;
      padding: 0px 110px 0px 0px;
      border-right: 1px solid #d7d7dd;
      &:last-child {
         border-right: none;
      }
      // margin: 0 -40px;
   }

   // .services__card
   &__card {
   }
}
.item-service {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   // .item-service__body
   &__body {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
   }

   // .item-service__icon
   &__icon-body {
      width: 92px;
      height: 92px;
      border-radius: 50%;
      padding: 21px;
      background-color: #e9e9ec;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 0px 24px 0px;
   }

   // .item-service__textblock

   &__textblock {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
   }

   // .item-service__title
   &__title {
      flex-grow: 1;
      margin: 0px 0px 10px 0px;
   }

   // .item-service__text
   &__text {
   }
}

//=====================================================================================================================================================================================================================================================================================================================================================================================================

.who-you-work-as {
   margin: 0 0 84px 0;
   // .who-you-work-as__container
   &__container {
   }

   // .who-you-work-as__textblock
   &__textblock {
      width: prc(687, 1240);
      margin: 0px 0px 35px 0px;
   }

   // .who-you-work-as__title
   &__title {
      margin: 0px 0px 20px 0px;
      font-family: "Exo 2";
      font-size: rem(48);
      font-weight: 600;
      line-height: 1.25;
      color: #363738;
   }

   // .who-you-work-as__subtitle
   &__subtitle {
   }

   // .who-you-work-as__votes
   &__votes {
   }
}
.votes {
   display: flex;
   // .votes__form
   &__form {
      width: prc(687, 1240);
      margin: 0px 140px 0px 0px;
   }

   // .votes__counter
   &__counter {
      max-width: prc(413, 1240);
   }
}
.votes-form {
   // .votes-form__radio-block
   &__radio-block {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      margin: 0px 0px 16px 0px;
      padding: 40px 165px 43px 40px;
      border-radius: 10px;
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.12);
      background-color: #fff;

      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;

      position: relative;
      ::before{
         content: '';
         position: absolute;
         width: 24px;
         height: 24px;
         box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.2);
         border-radius: 50%;
         background-color: #fff;
         left: 40px;
         top: 48px;
      }
      ::after{
         content: '';
         position: absolute;
         width: 10px;
         height: 10px;
         border-radius: 50%;
         background-color: #0b7572;
         left: 47px;
         top: 55px;
         transform: scale(0);
         -webkit-transform: scale(0);
         -moz-transform: scale(0);
         -o-transform: scale(0);
         -ms-transform: scale(0);

         transition: all 0.3s ease 0s;
         -webkit-transition: all 0.3s ease 0s;
         -moz-transition: all 0.3s ease 0s;
         -o-transition: all 0.3s ease 0s;
         -ms-transition: all 0.3s ease 0s;
      }
      &.active{
         padding: 40px 164px 43px 39px;
         border: 1px solid #0B7572;
         ::after{
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
         }
      }
   }
   &__radio-item {
      & input{
         display: none;
      }
      margin: 0px 0px 0px 56px;
   }
   // .votes-form__radio-button
   &__radio-button {
      margin: 0px 0px 15px 0px;
      padding: 0px 0px 0px 0px;
   }
   // .votes-form__radio-label
   &__radio-label {
      font-family: "Exo 2";
      font-size: rem(20);
      font-weight: 600;
      line-height: 1.5;
      cursor: pointer;
      color: #363738;
   }
   // .votes-form__text
   &__text {
   }
   // .votes-form__corner
   &__corner {
      transform: rotate(-18deg);
      width: 250px;
      height: 61.5px;
      background-color: #e9e9ec;
      position: absolute;
      bottom: -33px;
      right: -20px;
   }
}

.counter {
   font-family: "Exo 2";
   font-weight: 600;
   // .counter__title
   &__title {
      font-size: rem(20);
      line-height: 1.5;
      margin: 0 0 14px 0;
      color: #363738;
   }
   // .counter__body
   &__body {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      border-bottom: #ffce50 3px solid;
      padding: 0 0 28px 0;
   }
   // .counter__number
   &__number {
      font-size: rem(54);
      /* or 81px */
      color: #363738;
      :last-child{
      margin: 0px 10px 0px 0px;
      }
   }
   // .counter__number-thousand
   &__number-thousand {
      margin: 0px 18px 0px 0px;
      // :last-child{
      // margin: 0px 0px 0px 0px;
      // }
   }
   // .counter__text
   &__text {
      align-self: flex-end;
      padding: 0px 0px 5px 0px;
      font-size: rem(20);
      color: #6b6b6c;
   }
}
//=====================================================================================================================================================================================================================================================================================================================================================================================================

//=====================================================================================================================================================================================================================================================================================================================================================================================================

.green-rectangle {
   background-color: #0b7572;
   width: prc(599, 1440);
   height: 787px;
   position: absolute;
   top: 0;
   z-index: 0;
   right: 0;
}

//=====================================================================================================================================================================================================================================================================================================================================================================================================

// Подключение базовых стилей, шаблонов и вспомогательных классов =====================================================================================================================================================================================================================================================================================================================================================================================================
// Для подключения/отключения конкретных стилей
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
